.footer {
  display: flex;
  padding: 1.4rem 1rem;
  background-color: var(--color-bg);
}

.input {
  flex: 1 0 auto;
  border: none;
  background-color: var(--color-white);
  border-radius: 6px 0 0 6px;
  padding: 4px 10px;
  outline: none;
  font-size: 16px;
  color: var(--color-font);
}

.input::placeholder {
  color: var(--color-font);
}

.btn {
  width: 60px;
  height: 30px;
  background-color: var(--color-accent);
  color: var(--color-white);
  border-radius: 0 6px 6px 0;
  font-weight: bold;
}

.btn:hover {
  filter: brightness(125%);
}
