.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: var(--color-font);
}

.input {
  margin-right: 12px;
}

.trashIcon {
  font-size: 20px;
  background-color: lightgray;
  border-radius: 50%;
  padding: 4px;
  transition: all 150ms ease-out;
}

.trashIcon:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
  transform: rotate(15deg) scale(1.2);
}
