.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-bright);
  padding: 10px;
}

.icon,
.menu {
  font-size: 18px;
}

.menu__container {
  display: flex;
  /* flex-direction: row; */
}

.menu {
  color: var(--color-blue);
  margin-left: 16px;
  opacity: 0.7;
  text-transform: capitalize;
}

.menu:hover,
.menu.selected {
  opacity: 1;
}

/* .menu:hover::after, */
.menu.selected::after {
  content: '';
  display: block;
  margin-top: 6px;
  border: 1px solid var(--color-font);
}
